{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2015
    },
    "env":{
        "es6": true,
        "browser": true,
        "node": true
    },
    "globals": {
        "expect": true,
        "it": false
    },
    "rules":{
        "no-unreachable": [2],
        "indent": [2, 2, { "SwitchCase": 1 }],
        "quotes": [2, "single"],
        "max-statements": [2, 25],
        "max-len": [2, 120],
        "multiline-ternary": [0],
        "no-const-assign": [2],
        "no-return-assign": [0],
        "no-var": [2],
        "no-inner-declarations": [2],
        "no-lonely-if": [2],
        "no-tabs":[2],
        "no-undef":[2],
        "comma-dangle":[2]
    }
}